{% load static %}
{% load pwa %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forgotUsername.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">

    {% progressive_web_app_meta %}
</head>

<body>

    <div class="register_page_container">
        <div class='login-welcome-title'> <img src="{% static 'images/girl.png' %}" alt="icon"
                class='login_logo_icon' />
            Welcome to SHSchedule App</div>
        <h1 class='forgotUser_page_header'>Forgot Your Username</h1>
        <div class="login_input_container">
            <form action='{% url "user_authentication:forgotUsername" %}' method='post'>
                {% csrf_token %}
                <div>
                    <label for="email" class='login_page_input_labels'>Please enter the e-mail address.</label>
                    <input class='forgotUsername_page_input' type="text" name='email' placeholder='Email'>
                </div>

                <div>
                    <label for="firstName" class='login_page_input_labels'>Please enter your First name.</label>
                    <input class='forgotUsername_page_input' type="text" name='firstName' placeholder='First Name'>
                </div>

                <div class='forgot_username_button_wrap'>
                    <button type="submit" class='forgot_username_find_button btn' name='find_username'
                        value='find_username'>
                        Find Username
                    </button>
                    <a class='forgot_username_back_link' href="/login"><i class="material-icons">reply</i>Back to
                        Login</a>
                </div>
            </form>

            {% if response == "no match" %}
            <ul class="collection with-header">
                <li class="collection-item red lighten-4">There is no matched account for given information</li>
            </ul>
            {% else %}
            {% if response != '' %}
            <ul class="collection with-header">
                <li class="collection-item cyan lighten-4">Your Username is <strong><i>{{response}}</i></strong>.</li>
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</body>

</html>