{% load static %}
{% load pwa %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/forgotUsername.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">

    {% progressive_web_app_meta %}
</head>

<body>

    <div class="forgot_user_name_container container">
        <h1>Forgot Username</h1>
        <form action='{% url "user_authentication:forgotUsername" %}' method='post'>
            {% csrf_token %}
            <div>
                <label for="email" class='login_page_input_labels'>Please enter the e-mail address associated with
                    your account.</label>
                <input type="text" name='email' placeholder='email'>
            </div>

            <div>
                <label for="firstName" class='login_page_input_labels'>Please enter your first name.</label>
                <input type="text" name='firstName' placeholder='First Name'>
            </div>

            <div>
                <input type="submit" class='register_page_submit_btn' value='Find Username'>
            </div>
        </form>

        {% if response == "no match" %}
        <h5>There is no matched account for given information</h5>
        {% else %}
        {% if response != '' %}
        <h5>Your name is <strong><i>{{response}}</i></strong>. </h5>
        {% endif %}
        {% endif %}
    </div>
</body>

</html>