
<div id="modal1" class="modal bottom-sheet">

    <div class="modal-content container">
      <h5 class="modal_content__header"></h5>
      <div id='modal_content_list_contents'></div>
      
      <form action="{% url 'list:index' %}" method="post">
        {% csrf_token %}
        <div class="add_input_container">
          <div class="input_div">
            <input
              type="text"
              class="list_input"
              name="todo-by-date"
              placeholder="Toto List"
            />
          </div>
          <div class="add_button_container">
            <input type="submit" class="home_add_button" value="Add" />
          </div>
        </div>
      </form>
      
    </div>
</div> 
