
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
          <h1 class="modal_content__header"></h1>
          <p>date: {{modal_date}}</p>
          {% for list in add_list %}
            
          {% endfor %}
          <div class="input_div">
            <input
              type="text"
              class="list_input"
              name="todo"
              placeholder="Toto List"
            />
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div> 
