{% extends 'index.html' %} {% block content %} {% for list in add_list %}
<div class="home_list_set_wrap">
  <label class='home_list_checkbox'>
    <input
      type="checkbox"
      class="clearBtn"
      data-type="list_clear"
      {{list.cleared}}
      data-id="{{list.id}}"
      status="false"
    />
    <span></span>
  </label>
  <input class="displayed_list" value="{{list.li}}" id="{{list.id}}" disabled />
  <form action="">
    <div class="editBtn home_list_buttons" data-type="list" data-id="{{list.id}}">
      <i class="material-icons" data-type="list" data-id="{{list.id}}">edit</i>
    </div>
  </form>

  <form action="{% url 'list:delete' list.id %}" method="post">
    {% csrf_token %}
    <div
      class="delete home_list_buttons"
      name="list_delete"
      value="list_delete"
    >
      <i class="material-icons">delete</i>
    </div>
  </form>
</div>
{% endfor %} {% endblock content %}
