.calendar_whole_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.calendar{
    width: 30%;
    margin: 30px;
    text-align: center;
}
.calendar > table{
    table-layout: fixed;
}
th, td{
    text-align: center !important;
}
td.mon, td.tue, td.wed, td.thu, td.fri, td.sat, td.sun{
    cursor: pointer;
}
td.mon:hover, td.tue:hover, td.wed:hover, td.thu:hover, td.fri:hover, td.sat:hover, td.sun:hover{
    background-color: #ddd;
}
.month_next_prev_buttons{
    margin-top: 10px;
}
.monthly_goal_container{
    width: 40%;
}
