.forgotUser_page_header{
    font-size: 30px;
    background-color: #d7ccc8  ;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 500;
    color: #5d4037;
}
.forgotUsername_page_input{
    border: 1px solid #4db6ac !important;
    border-radius: 5px !important;
    height: 35px !important;
    margin: 10px 0 !important;
    padding-left: 10px !important;
}
.forgot_username_button_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.forgot_username_find_button, .forgot_username_back_link{
    margin-top: 20px;
    margin-right: 10px;
}


.forgot_username_back_link:hover{
    color: rgb(114, 106, 96);
}
