.invite_wrap{
    margin: 20px;
    font-weight: 600;
}
.account-info-outer-container, .invite_page_outer_container{
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 30px;
}
.invite-title{
    font-weight: 700;
    font-size: 19px;
    padding-bottom: 10px;
}
.account_info_title{
    font-weight: 700;
}

.find_input_container > .find_input{
    padding-right: 10px;
}
.find_input_container, .user_confirm_container{
    display: flex;
    flex-direction: row;
    margin: 0 40px;
}
.find_input_container > .find_input > input, .user_confirm_container{
    height: 25px !important;
}

.user_confirm_container > P{
    margin: 0 10px;
}
.user_confirm_container > button{
    font-size: 11px;
    padding: 0 3px;
    border-radius: 10px;
    background-color: rgba(89, 89, 230, 0.747);
    border: 1px solid rgb(121, 120, 120);
    color: white;
    cursor:pointer;
}
.user_confirm_container > button:hover{
    background-color: rgb(89, 89, 230);
}
.find_button{
    margin: auto 0;
}
.find_button >input{
    cursor: pointer;
}
.joint_list_name{
    margin: 0 50px;
}
.joint_list_name > li{
    list-style-type: circle !important;
    font-size: 16px;
    color: rgb(100, 97, 97);
}

@media screen and (min-width: 992px) {
    .invite_wrap{
        width:70%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 250px;
    }
    .account-info-outer-container, .invite_page_outer_container{
        width: 40%;
    }
}