.invite_page_outer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.find_user_container,.user_status_container{
    width: 100%;
    padding: 50px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 30px 10px;
}
.find_input_container, .user_confirm_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.find_button{
    margin: auto 0;
}