{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
  {% include 'write_list/month.html' %}
    <div class='calendar'>
        {{cal|safe}}
        <div class='month_next_prev_buttons'>
            <button class='month_prev'><i class="material-icons">chevron_left</i></button>
            <span class='displaying_month'>{{month}}</span>
            <button class='month_next'><i class="material-icons">chevron_right</i></button>
        </div>

    </div>
  </body>
    <script src="{% static 'js/calendar.js' %}"></script>
</html>