{% load static %}
{% load pwa %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    {% progressive_web_app_meta %}
</head>

<body>
    <footer class="footer__container">
        <div class="footer-copyright">
            <div>
                <a href="https://github.com/Songhee95" class='footer__icon'><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/songhee-y-821442167/" class='footer__icon'><i
                        class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://songhee95.github.io/portfolio-2nd/#/" class='footer__icon'><i
                        class="fas fa-info-circle fa-2x"></i></a>
            </div>
            <div class='footer__element'>
                <span>© 2021 Songhee SHSchedule</span>
            </div>
        </div>
    </footer>
</body>

</html>